@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 0%;
  --foreground: 0 0% 100%;
}

body {
  background-color: black;
  color: white;
}

/* Basit ve hatasız stil ayarları */
.luxury-gradient {
  background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
